h1 {
    text-align: center;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.code_block {
    font-family: 'Consolas', sans-serif;
}

.tutorial_item {
    h2 {
        font-size: 24px;
        padding-left: 5px;
        text-align: left;
    }
    h3 {
        padding-left: 5px;
        font-size: 18px;
    }
    p {
        
        font-size: 14px;
    }
}
